.jumbotron {
  background-color: #f5f520; }

footer {
  background-color: #e3ffee;
  margin-bottom: 0px;
  padding: 10px 0 0 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  width: 100%;
  border-radius: 0%; }

.footer-adress-icon {
  padding-right: 10px; }

body {
  overflow-x: hidden; }
