$yellow:#f5f542;
$red:#e81a35;
$green:#e3ffee;

@mixin margen($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;    
}
.jumbotron {
    background-color:$yellow;
    }
    
    footer {
        background-color: $green;
        margin-bottom: 0px;
        padding: 10px 0 0 10px;
    }
    
    .card-hotel{
        flex: 1 150px;
        padding: 0px 0px 0px 0px;
      @include margen(10px, 0px);
    }
    
    .btn{
        width: 100%;
        border-radius: 0%;
    }
    .footer-adress-icon{
        padding-right: 10px;
    }
    body {
        overflow-x: hidden;
    }